---
import { type CollectionEntry, getCollection } from "astro:content";

import BaseLayout from "../../layouts/BaseLayout.astro";

import ContactCTA from "../../components/ContactCTA.astro";
import PostsPreview from "../../components/PostsPreview.astro";
import Hero from "../../components/Hero.astro";
import Grid from "../../components/Grid.astro";

const projects: any = await getCollection("picture");
const posts: CollectionEntry<"posts">[] = projects.sort(
  (a: CollectionEntry<"posts">, b: CollectionEntry<"posts">) =>
    b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
---

<BaseLayout title="Picture~RockyRori" description="罗粟海的照片">
  <div class="stack gap-20">
    <main class="wrapper stack gap-8">
      <Hero title="生活随记" tagline="我的生活照片和精彩瞬间" align="start" />
      <Grid variant="offset">
        {
          posts.map((project) => (
            <li>
              <PostsPreview project={project} />
            </li>
          ))
        }
      </Grid>
    </main>
    <ContactCTA />
  </div>
</BaseLayout>
