---
import { type CollectionEntry, getCollection } from "astro:content";

import BaseLayout from "../../layouts/BaseLayout.astro";

import ContactCTA from "../../components/ContactCTA.astro";
import PostsPreview from "../../components/PostsPreview.astro";
import Hero from "../../components/Hero.astro";
import Grid from "../../components/Grid.astro";

const projects: any = await getCollection("technique");
const posts: CollectionEntry<"posts">[] = projects.sort(
  (a: CollectionEntry<"posts">, b: CollectionEntry<"posts">) =>
    b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
---

<BaseLayout title="Technique~RockyRori" description="罗粟海的技术博客">
  <div class="stack gap-20">
    <main class="wrapper stack gap-8">
      <Hero title="技术博客" tagline="我学习编程路上的经验技巧" align="start" />
      <Grid variant="offset">
        {
          posts.map((project) => (
            <li>
              <PostsPreview project={project} />
            </li>
          ))
        }
      </Grid>
    </main>
    <ContactCTA />
  </div>
</BaseLayout>
