---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { base } from "../../components/BaseURL.astro";
import Tag from "../../components/Tag.astro";

const picture = await getCollection("picture", "picture");
const technique = await getCollection("technique", "technique");
const allPosts = picture.concat(technique);

let tagCounts: { [key: string]: number } = {};
allPosts.forEach((post) => {
  (post.data.tags || []).forEach((tag) => {
    tagCounts[tag] = (tagCounts[tag] || 0) + 1;
  });
});

const tags = Object.keys(tagCounts);
---

<BaseLayout>
  <div class="tags">
    {tags.map((t) => <Tag tag={t}>({tagCounts[t]})</Tag>)}
  </div>
</BaseLayout>

<style>
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }
</style>
